@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.form-control{
    @apply border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm
}
.btn{
    @apply font-bold text-white py-2 px-4 rounded cursor-pointer
}

.btn-red{
    @apply bg-red-800 hover:bg-red-500
}

.btn-blue{
    @apply bg-blue-800 hover:bg-blue-500
}

.btn-green{
    @apply bg-green-800 hover:bg-green-500
}

.swal2-success {
    background-color: #166534 !important; /* Cambiar el color de fondo */
    border-color: #166534 !important; /* Cambiar el color del borde */
    color: white !important; /* Cambiar el color del texto */
}
.swal2-confirm{
    background-color: #166534 !important; /* Cambiar el color de fondo */
    border-color: #166534 !important; /* Cambiar el color del borde */
    color: white !important; /* Cambiar el color del texto */
}
